/* reset css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* common dung chung */

.clear {
    clear: both;
}

.text-while {
    color: #fff !important; 
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right!important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    /* margin-left: 8px; */
    margin: 15px 0 15px 8px;
    padding: 11px 16px;
    display: inline-block;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #757575;
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-one {
    width: 100%;
}

.col-three {
    width: calc(100%/3);
}

.col-two {
    width: 50%;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

/* main */

/* #main {

} */

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    list-style-type: none;
    display: inline-block;
}

#nav > li {
    display: inline-block;
}
 
#nav li {
   position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    /* display: block; */
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/image/slider/chicago.jpg') top center / cover no-repeat;
}

    #slider .text {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /* cach 2:left: 50%;
    transform: translateX(-50%); */
    text-align: center;

} 

#slider .text-above{
    font-weight: 500;
    font-size: 24px; 
}

#slider .text-belove{
    margin-top: 25px;
    font-size: 15px;
}

#content {
    height: 1000px;
}

#content .content-section {
    width: 800px;
    padding: 64px 0 110px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
    
}

#content .member-name {
    font-size: 15px;
    text-align: center;
}

#content .member-image {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour-section */
.tour-section {
    background-color: #000;
    /* padding-bottom: 46px; */
}

.ticket-list {
    margin-top: 40px;
    background-color: #fff;
    list-style:  none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;    
    border-bottom:  1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;  
    padding: 3px 4px;
    margin-left: 16px;  
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    text-align: center; /*can tu trai sang phai */
    line-height: 24px;
    margin-top: -2px;
}

.place-list {
    margin-top: 32px;
}

.place_item {
    width: calc(100% / 3);    
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
}

.place-heading {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 550;
    margin-left: 8px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
    margin-left: 8px;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
    margin-left: 8px;
}

/* map */

.map-section img {
    width: 100%;
}

/* footer-section */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover, 
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}



.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    color: #fff;
    font-size: 30px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .ti-bag {
    margin-right: 12px;
}

.modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    padding: 12px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
   border: 1px solid #ccc;
   width: 100%;
   padding: 12px;
   margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    color: #fff;
    padding: 18px;
    background: #009688;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

/* contact form */
.contact-content {
    margin-top: 48px;
}


.modal-footer {
    text-align: right;
    padding: 20px;
    color: #2196F3;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {   
    from { 
        transform: translateY(-140px);
        }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}